<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Session Counter</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/counter_styles.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="navbar">
          <h1>Assignment: Page Counter w/ Session, Express, Node</h1>
        </div>
      </div>
      <div class="container">
        <div class="counter">

          <h3>This page has been visited: <%= counter %> times.</h3>
          <div class="buttons">
            <form class="form-group" action="/add" method="post">
              <button class='btn btn-primary' type="submit" name="submit">Add 2</button>
            </form>
            <form class="form-group" action="/clear" method="post">
              <button class='btn btn-danger' type="submit" name="submit">Reset</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
